{% extends "base.html" %}
{% load pagelist %}
{# <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> #}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}token-field/stylesheets/token-field.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}token-field/javascripts/jquery.token-field.js"></script>

<style type="text/css">
#upload{
    font-size:0.9em;
}
.alltag{
    margin-bottom:3px;
    padding-left:0;
    cursor:default;
}
.alltag li{
    display:inline-block;
    margin-right: 3px;
    background-color: #ECEEF5;
    border: 1px solid #CAD4E7;
    border-radius: 3px;
    font-size:0.8em;
    padding:0.1em;
}
.alltag li:hover{
    background-color: #CAD4E7;
}
input[type=text]{
    width:300px;
}
#delete {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 30px;
    background: transparent url('{{ STATIC_URL }}/fancybox/fancybox.png') -40px 0px;
    cursor: pointer;
}
#delete:hover {
    margin: 2px;
}
</style>
{% endblock %}

{% block content %}

{# upload popupのアレ #}
<div style="display:none;">
    <div id="upload">
        <form method="POST" enctype="multipart/form-data" id="form_input">
            <input type="file" name="imagedata" multiple/>
            <ul class="alltag">{% for tag in tags %}<li>{{ tag }}</li>{% endfor %}</ul>
            <input type="text" class="tags" name="tags" value=""/>
            説明 <input type="text" name="description" width="100px"><br/>
            <input type="submit" value="送信" id="upload_submit"/>
            {% csrf_token %}
        </form>
    </div>
</div>
<div style="display:none;">
    <div class="edit">
            <ul class="alltag">{% for tag in tags %}<li id="{{ tag }}">{{ tag }}</li>{% endfor %}</ul>
            <input type="text" name="id" value="" style="display:none;"/>
            <input type="text" class="edit_tags" name="tags" value=""/>
            詳細 <input type="text" name="description" width="100px"><button id="edit_submit">submit</button>
            
    </div>
</div>
<div id="content">
    <div id="header">
        <a href="{% url index %}">index</a>
        {% if user.is_superuser %}
            <a href="{% url admin %}">admin</a>
            <a href="#upload" class="popup">upload</a>
            <a href="{% url logout %}">logout</a>
        {% endif %}
        <ul class="alltag">{% for tag in tags %}<li tag="{{ tag }}">{{ tag }}</li>{% endfor %}</ul>
        <form method="GET">
        <input type="hidden" name="tags" id="search_tag" />
        キーワード検索 : <input type="text" id="keyword" name="keyword"/> <input type="submit" id="search" value="検索"/>
        {{ number }}
        </form>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% for n in contacts.paginator.page_range|pagelist:contacts.number %}
                <a href="?page={{ n }}">{{ n }}</a> 
            {% endfor %}
        </span>
    </div>
    <div class="body">
    {% for image in contacts.object_list %}
        <a class="popup" href="/{{ image.filename }}" rel="image" 
        title="<div id='title' key='{{ image.id }}'>{% for tag in image.tag.all %}{{ tag.name }}&nbsp;&nbsp;{% endfor %}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ image.description }}</div>">
            <img src="/thumbnail/{{ image.filename }}"/>
        </a>
    {% endfor %}
    </div>
</div>
{% endblock %}