{% extends "base.html" %}
{# <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> #}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}token-field/stylesheets/token-field.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}token-field/javascripts/jquery.token-field.js"></script>

<style type="text/css">
#upload{
    font-size:0.9em;
}
.alltag{
    margin-bottom:3px;
    padding-left:0;
    cursor:default;
}
.alltag li{
    display:inline-block;
    margin-right: 3px;
    background-color: #ECEEF5;
    border: 1px solid #CAD4E7;
    border-radius: 3px;
    font-size:0.8em;
    padding:0.1em;
}
.alltag li:hover{
    background-color: #CAD4E7;
}
input[type=text]{
    width:300px;
}
#delete {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 30px;
    background: transparent url('{{ STATIC_URL }}/fancybox/fancybox.png') -40px 0px;
    cursor: pointer;
}
#delete:hover {
    margin: 2px;
}
</style>
{% endblock %}

{% block content %}

{# upload popupのアレ #}
<div style="display:none;">
    <div id="upload">
        <form method="POST" enctype="multipart/form-data" id="form_input">
            <input type="file" name="imagedata" multiple/>
            <ul class="alltag">{% for tag in tags %}<li>{{ tag }}</li>{% endfor %}</ul>
            <input type="text" class="tags" name="tags" value=""/>
            説明 <input type="text" name="description" width="100px"><br/>
            <input type="submit" value="送信" id="upload_submit"/>
            {% csrf_token %}
        </form>
    </div>
</div>

<div id="content">
    <div id="header">
        <a href="{% url index %}">index</a>
        <a href="{% url admin %}">admin</a>
        <a href="#upload" class="popup">upload</a>
        <a href="{% url logout %}">logout</a>
    </div>
    <div class="body">
    {% for contact in contacts.object_list %}
        <a class="popup" href="/{{ contact.filename }}" rel="image" title="{% for tag in contact.tag.all %}{{ tag.name }} {% endfor %}">
            <img src="/{{ contact.filename }}"/>
        </a>
    {% endfor %}
    </div>
</div>
<link class="next" href="/admin?page={{ nextpage }}" />
{% endblock %}