<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="http://non117.com/favicon.ico" />
<link rel="icon" type="image/x-icon" href="http://non117.com/favicon.ico" />
<title>{% block title %}{% endblock %}Nyazo</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/default.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.MyThumbnail.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autopager-1.0.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% block extrahead %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>