{% extends "base.html" %}
{# <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> #}

{% block content %}
<div id="content">
    <div id="header">
        <h1>スクリーンショットの瞬間共有</h1>
    </div>
    <div class="body">
    {% for contact in contacts.object_list %}
        <a class="popup" href="/{{ contact.filename }}" rel="image" title="{{ contact.description }}">
            <img src="/{{ contact.filename }}"/>
        </a>
    {% endfor %}
    </div>
</div>
<link class="next" href="/admin?page={{ nextpage }}" />
{% endblock %}