#content {
    margin:auto;
    width:97%;
}

#header h1{
    font-family:QuicksandBook, Helvetica, Arial, sans-serif;
    font-size:3em;
    letter-spacing:3px;
    text-shadow:#DDD 1px 1px 0px, #999 0px 0px 10px, #999 0px 0px 10px;
}

.image {
    margin:10px;
    float:left;
    border-radius:10px;
    border:1px solid #ccc;
}
.image:hover {
    box-shadow:6px 6px 6px #444;
}
.popuped {
    text-align:center;
    padding-top:50%;
}
.popuped img{
    margin-top:-50%;
}

ul.alltag li{
	background-color:#ECEEF5;
}

ul.alltag li.search {
	background-color:#CAD4E7;
}

.edit {
	width: 600px;
	background-color: white;
	opacity: 0.8;
	padding: 3px 10px;
	padding-top: 1px;
	margin-top:10px;
}
.edit *{
	opacity: 1.0;
}