{% extends "base.html" %}
{# <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> #}

{% block extrahead %}
<style type="text/css">
#login{
    width:270px;
    font-size:12px;
    border: 1px solid #CCC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#error{
    color:#d00;
}
#form_input{
    margin:10px auto;
}
#submit{
    margin:10px 100px;
}
</style>
{% endblock %}

{% block content %}
<div id="login">
    {% if form.errors %}
    <div id="error"><p>ユーザー名あるいはパスワードが間違っています</p></div>
    {% endif %}

    <form method="post" action=".">
        <table id="form_input">
            <tr><td>{{ form.username.label_tag }}:</td><td>{{ form.username }}</td></tr>
            <tr><td>{{ form.password.label_tag }}:</td><td>{{ form.password }}</td></tr>
        </table>
        {% csrf_token %}
        <div id="submit">
            <input type="submit" value="ログイン" />
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}